@model IEnumerable<OnlineBookstore.Models.Menus>

<div class="site-navigation mr-auto d-none d-xl-block">
    <ul class="nav">
        @foreach (var item in Model)
        {
            if (item.Name.Equals("Danh mục"))
            {
                <li class="nav-item">
                    <a href="@item.Link" target="@item.Target"
                       class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium active border-bottom border-primary border-width-2">@item.Name</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="@item.Link" target="@item.Target"
                       class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium d-flex align-items-center">
                        @item.Name
                    </a>
                </li>
            }
        }
    </ul>
</div>
