@model IEnumerable<OnlineBookstore.Models.Users>

@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section contentHeader {
    Danh sách người dùng đã bị xóa
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách người dùng</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="#example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Authorization)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedDate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Authorization)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a class="btn btn-sm btn-light text-success border" href="@Url.Action("Retrash", "User", new { id = item.Id })"> <i class="fas fa-undo"></i></a>
                                                <a href="@Url.Action("Delete", "User", new { id = item.Id })" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Authorization)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedDate)
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        Footer
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->